h1 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Rowdies';
  color:  #ffffff;
}
h2 {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-family: 'Caveat';
  color: #FFFFFF; 
}
h4 { 
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Chakra Petch';
  color: #FFFFFF;
} 